<footer>
<div data-include="footer.html"></div>
	<p> Designed by Frank Lopez Chaparro </p>
	<p> &copy; Enlightenment MMA </p>
		<a style = "text-decoration: none;" href="http://validator.w3.org/check?uri=referer">
		<img src="images/button_html5_yellow.gif"  alt="Valid HTML 5" 
		height="31" width="88" style="border:0px;" />
	</a>
	<a style = "text-decoration: none;" href="http://jigsaw.w3.org/css-validator/check/referer">
		<img style="border:0;width:88px;height:31px"
		src="images/button_css_blue.gif"
		alt="CSS Validation Button" />
	</a>
</footer>