<header>
<div class="topnav"> 
	<a href="http://students.cpcc.edu/~flopez10/web110/project/index.html"/>
	<img id="logo" border="0" src="images/mma-logo.png" width = "100" height = "100" alt = "Enlightment MMA Logo"/></a>
<nav>
	<ul>
		<li><a href="index.html">Home</a></li>
	</ul>
	<div class="dropdown">
	<button class="dropbtn" onmouseover="myFunction()">Martial Arts
	<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-content" id="myDropdown">
	<a href="hybrid.html">Hybrid</a>
	<a href="stand-up.html">Stand-up</a>
	<a href="grappling-ground.html">Grappling/ground</a>
	<a href="weapon-based.html">Weapon-based</a>
	<a href="throwing.html">Throwing</a>
	<a href="meditative.html">Meditative/low-impact</a>
	</div>
	</div>
	<script src='scripts/default.js'></script>
	<ul>
		<li><a href="faq.html">FAQ</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</nav>
</div>
</header>